---
import "../styles/global.css";
import 'aos/dist/aos.css';
import GoogleTag from '../components/google-tags.astro';
import logoImage from '../assets/logo/logo-principal.webp';

const {
	title = "Rock Byte Tech - Desarrollo Web en Colombia",
	description = "Empresa de software en Colombia. Desarrollo web, aplicaciones a la medida, automatización y seguridad informática.",
	image = "/images/preview.png",
	url = "https://rock-byte-tech.com.co"
} = Astro.props;


const schema = {
	"@context": "https://schema.org",
	"@type": "Organization",
	"name": "Rock Byte Tech",
	"url": "https://rock-byte-tech.com.co/",
	"logo": new URL(logoImage.src, Astro.site).href,
	"description": "Agencia de desarrollo de software enfocada en crear soluciones web innovadoras, priorizando la experiencia de usuario y la calidad.",
	"contactPoint": {
	"@type": "ContactPoint",
	"telephone": "+57 3196440848",
	"contactType": "Customer Service",
	"email": "contacto@rock-byte-tech.com.co",
	"areaServed": "CO",
	"availableLanguage": ["es"]
	},
	"address": {
	"@type": "PostalAddress",
	"addressLocality": "Copacabana",
	"addressRegion": "Antioquia",
	"addressCountry": "CO"
	},
	"sameAs": [
	"https://www.instagram.com/rock_byte_tech"
	]
};

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- SEO -->
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="robots" content="index, follow" />
		<meta name="keywords" content="desarrollo web, desarrollo web Colombia, software a la medida, automatización, Rock Byte Tech" />

		<!-- Open Graph -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />
		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />

		<script type="application/ld+json" set:html={JSON.stringify(schema)} />

		<!-- Canonical tag -->
		<link rel="canonical" href={url} />

		<style is:global>
			html {
			scroll-behavior: smooth !important;
			}
		</style>
		<GoogleTag />
	</head>
	<body class="bg-[#0A0A0A] text-white font-sans scroll-smooth">
		
		<slot />

		<!-- VanillaTilt -->
		<script src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.2/dist/vanilla-tilt.min.js"></script>

		<!-- Load AOS library -->
		<script>
			import AOS from "aos";
			AOS.init({
				once: false,        // Para que se animen cada vez que entran en viewport
				duration: 1000,     // Tiempo de la animación en milisegundos
				offset: 100         // Cuánto antes empieza la animación
			});
		</script>
	</body>
</html>

<style>
	html,
	body {
	margin: 0;
	width: 100%;
	height: 100%;
	}
</style>
